[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openai = "==0.28"
prettytable = "*"
tinydb = "*"
jinja2 = "*"
pyaml = "*"
tiktoken = "*"
panel = "*"
aipy = {file = "file:///C:/Users/DavisC/sandpit/aipy"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
